<section class="skills mb-5 pb-5">
  <div class="container text-center mt-5">
    <div class="row pt-5">
      <h2>Skills</h2>
      <p class="mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam repellat, beatae quis quidem
        error cupiditate maxime laborum quo esse dolorem vitae, eveniet reprehenderit magnam earum! Alias, nesciunt.
        Possimus, corporis! Id? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cumque, culpa nam
        adipisci, incidunt accusantium, doloremque libero labore corrupti temporibus officia magnam nisi reiciendis
        dolore aut qui iusto blanditiis quibusdam?</p>
      <div class="col-lg-5 mt-5">
        <h3>MY FOCUS</h3>
        <p>UI/UX Design</p>
        <p>Responsive Design</p>
        <p>Web Design</p>
      </div>

      <div class="col-lg-7 mt-2">

<div *ngFor="let x of Arr">
  <app-skill [skill]="x.skill"[value]= "x.value"></app-skill>
<br>

</div>
      </div>
    </div>

  </div>
</section>