


<h1 class="portfolio m-5" style="text-align: center;">Portfolio</h1>

<div class="container ">

<div class="row">

    <div class="col-lg-4 col-md-6 col-12 pb-3 mb-5">
        <div class="text-center p-5 shadow  bg-dark  d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="text-white">WEB DESIGN</h3>
            <hr width="30%" height="40px" class="text-white">
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="text-center p-5 shadow  gray d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="">Mobile DESIGN</h3>
            <hr width="30%" height="40px">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="text-center p-5 shadow  bg-dark d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="text-white">logo DESIGN</h3>
            <hr width="30%" height="40px">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="text-center p-5 shadow  gray  d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="">WEB DESIGN</h3>
            <hr width="30%" height="40px">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="text-center p-5 shadow  bg-dark d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="text-white">Mobile DESIGN</h3>
            <hr width="30%">
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-3">
        <div class="text-center p-5 shadow  gray  d-flex flex-column align-items-center justify-content-center item" >
            <h3 class="">logo DESIGN</h3>
            <hr width="30%" height="40px">
        </div>
    </div>
</div>


</div>